# Instance details
OCI_COMPARTMENT_ID=ocid1.tenancy.oc1.----
OCI_IMAGE_ID=ocid1.image.----
OCI_SUBNET_ID=ocid1.subnet.----
OCI_INSTANCE_NAME=my-instance
OCI_SHAPE=VM.Standard.A1.Flex
OCI_OCPUS=4
OCI_MEMORY=24

# Configuration
OCI_SSH_KEY=~/.ssh/id_rsa.pub
OCI_CONFIG_PATH=~/.oci/config
OCI_RETRY_INTERVAL=60

# Avaliability Domains (add as many as needed)
OCI_AVAILABILITY_DOMAIN=RXps:----AD1
OCI_AVAILABILITY_DOMAIN=RXps:----AD2